<div class="app_body">
<h1> Add New </h1>


<%= form_for [@city, @rating] do |f| %>

<p>
  <h3>
    <%= f.label :comment, "What makes this city safe?" %>
  </h3>
</p>

<p>
  <%= f.text_area :comment %>
</p>

<p>
  <h3>
    <%= f.label :recommendations, "Things To Do:" %>
  </h3>
</p>

<p>
  <%= f.text_area :recommendations %>
</p>

<p>
  <h3>
    <%= f.label :user_photo, "Add a photo." %>
  </h3>
</p>

<p>
  <%= f.text_field :user_photo %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>

</div>
