<div class="app_body">

  <div class="screen">
    <button type="button" class="shutter_button">
     <%= link_to "Back", cities_path %>
    </button>
  </div>

<h1> Add New Rating </h1>

<%= form_for [@city, @rating] do |f| %>
<article>
<p>
  <h3>
    <%= f.label :safety_rating, "How would you rate this city overall?" %>
  </h3>
</p>

<p>
  <%= f.number_field :overall_rating, min: 1, max: 5 %>
</p>


<p>
  <h3>
    <%= f.label :safety_rating, "How would you rate the safety of this city?" %>
  </h3>
</p>

<p>
  <%= f.number_field :safety_rating, min: 1, max: 5 %>
</p>

<p>
  <h3>
    <%= f.label :comment, "What makes this city safe?" %>
  </h3>
</p>

<p>
  <%= f.text_area :comment %>
</p>

<p>
  <h3>
    <%= f.label :recommendations, "Things To Do:" %>
  </h3>
</p>

<p>
  <%= f.text_area :recommendations %>
</p>

<p>
  <h3>
    <%= f.label :user_photo, "Add a photo:" %>
  </h3>
</p>

<p>
  <%= f.text_field :user_photo %>
</p>
</article>
<p>
  <%= f.submit %>
</p>

<% end %>

</div>
