
<div class="app_body" style="background: url(<%= @rating.user_photo %>) rgba(3, 152, 247, 1) no-repeat center; background-size: cover">

  <div class="screen">
    <button type="button" class="shutter_button">
     <%= link_to "Back", cities_path %>
    </button>
  </div>


<h1>
  <span class="city_name">
  <%= City.find(@rating.city_id).name %>, <%= City.find(@rating.city_id).country %>
  </span>
</h1>
<article>
<h3>Overall Rating: </h3>

<div class="star-box">
<img src="<%= image_url("star.png") %>">
<img src="<%= image_url("star.png") %>">
<img src="<%= image_url("star.png") %>">
<img src="<%= image_url("star.png") %>">
<img src="<%= image_url("star.png") %>">
<div class="star-bar" style="width: <%= @rating.overall_rating.to_i.to_f / 5 * 100 %>%;"></div>
</div>

<p>
  <% if @rating.overall_rating == "5" %>
   <p>
     <%= @rating.overall_rating %>: Exceptional!
   </p>
   <% elsif @rating.overall_rating == "4" %>
   <p>
     <%= @rating.overall_rating %>: Satisfied.
   </p>
   <% elsif @rating.overall_rating == "3" %>
   <p>
     <%= @rating.overall_rating %>: Neutral.
   </p>
   <% elsif @rating.overall_rating == "2" %>
   <p>
     <%= @rating.overall_rating %>: Dissatisfied.
   </p>
   <% elsif @rating.overall_rating == "1" %>
   <p>
     <%= @rating.overall_rating %>: Miserable!
   </p>
  <% else %>
  <p class="please_rate"> Please Rate Your Overall Experience in this City </p>
  <% end %>
</p>

<h3>Safety Rating: </h3>

<div class="star-box">
<img src="<%= image_url("star.png") %>">
<img src="<%= image_url("star.png") %>">
<img src="<%= image_url("star.png") %>">
<img src="<%= image_url("star.png") %>">
<img src="<%= image_url("star.png") %>">
<div class="star-bar" style="width: <%= @rating.safety_rating.to_i.to_f / 5 * 100 %>%;"></div>
</div>

<p>
  <% if @rating.safety_rating == "5" %>
   <p>
     <%= @rating.safety_rating %>: Secure!
   </p>
   <% elsif @rating.safety_rating == "4" %>
   <p>
     <%= @rating.safety_rating %>: Safe.
   </p>
   <% elsif @rating.safety_rating == "3" %>
   <p>
     <%= @rating.safety_rating %>: Neutral.
   </p>
   <% elsif @rating.safety_rating == "2" %>
   <p>
     <%= @rating.safety_rating %>: Unsafe.
   </p>
   <% elsif @rating.safety_rating == "1" %>
   <p>
     <%= @rating.safety_rating %>: Threatened!
   </p>
  <% else %>
  <p class="please_rate"> Please Rate the Safety of this City </p>
  <% end %>
</p>



<h3>What makes this city safe or unsafe?</h3>
<p>
<%= @rating.comment %>
</p>


<h3>What are some things to do?</h3>
<p>
<%= @rating.recommendations %>
</p>


<time> Posted <%= @rating.created_at %> </time>

</article>
<p>
<button type="button">
<%= link_to "Edit Rating", edit_city_rating_path(@city, @rating) %>
</button>
</p>
</div>
