<h1>
  <%= City.find(@rating.city_id).name %>, <%= City.find(@rating.city_id).country %>
</h1>

<p>
  Overall Rating :
  <%= rating_for_user @city, @user.rating %> 
</p>

<p>
<%= @rating.safety_rating %>
</p>

<p>
<%= image_tag @rating.user_photo %>
</p>

<p>
<%= @rating.comment %>
</p>

<p>
<%= @rating.recommendations %>
</p>

<p>
<time> Updated at <%= @rating.updated_at %> </time>
</p>
