<h1>
  <%= City.find(@rating.city_id).name %>, <%= City.find(@rating.city_id).country %>
</h1>



<p>
<%= @rating.safety_rating %>
</p>

<p>
<%= image_tag @rating.user_photo %>
</p>

<p>
<%= @rating.comment %>
</p>

<p>
<%= @rating.recommendations %>
</p>

<p>
<time> Updated at <%= @rating.updated_at %> </time>
</p>

<button type="button">
<%= link_to "Edit Rating", edit_city_rating_path(@city, @rating) %>
</button>
