<div class="app_body">

<h1>
  <%= City.find(@rating.city_id).name %>, <%= City.find(@rating.city_id).country %>
</h1>

<p>Overall Rating: </p>
<p>
  <% if @rating.overall_rating == "5" %>
   <p>
     <%= @rating.overall_rating %>: Exceptional!
   </p>
   <% elsif @rating.overall_rating == "4" %>
   <p>
     <%= @rating.overall_rating %>: Satisfied.
   </p>
   <% elsif @rating.overall_rating == "3" %>
   <p>
     <%= @rating.overall_rating %>: Neutral.
   </p>
   <% elsif @rating.overall_rating == "2" %>
   <p>
     <%= @rating.overall_rating %>: Dissatisfied.
   </p>
   <% elsif @rating.overall_rating == "1" %>
   <p>
     <%= @rating.overall_rating %>: Miserable!
   </p>
  <% else %>
  <p> "Plase Rate Your Overall Exeperience in this City" </p>
  <% end %>
</p>

<p>Safety Rating: </p>

<p>
  <% if @rating.safety_rating == "5" %>
   <p>
     <%= @rating.safety_rating %>: Secure!
   </p>
   <% elsif @rating.safety_rating == "4" %>
   <p>
     <%= @rating.safety_rating %>: Safe.
   </p>
   <% elsif @rating.safety_rating == "3" %>
   <p>
     <%= @rating.safety_rating %>: Neutral.
   </p>
   <% elsif @rating.safety_rating == "2" %>
   <p>
     <%= @rating.safety_rating %>: Unsafe.
   </p>
   <% elsif @rating.safety_rating == "1" %>
   <p>
     <%= @rating.safety_rating %>: Threatened!
   </p>
  <% else %>
  <p> "Plase Rate the Safety of this City" </p>
  <% end %>
</p>



<p>
<%= image_tag @rating.user_photo, :class => "user_photo" %>
</p>

<p>
<h2>What makes this city safe or unsafe?</h2>
<%= @rating.comment %>
</p>

<p>
<h2>What are some things to do?</h2>
<%= @rating.recommendations %>
</p>

<p>
<time> Posted <%= @rating.created_at %> </time>
</p>

<button type="button">
<%= link_to "Edit Rating", edit_city_rating_path(@city, @rating) %>
</button>

</div>
