<div class="app_body">

<h1> Add a new City </h1>

<%= form_for @city do |f| %>

<p>
  <h3>
    <%= f.label :name, "City Name" %>
  </h3>
</p>

<p>
  <%= f.text_field :name %>
</p>

<p>
  <h3>
    <%= f.label :country, "Country Name" %>
  </h3>
</p>

<p>
  <%= f.text_field :country %>
</p>

<p>
  <h3>
    <%= f.label :photo, "City Skyline Photo" %>
  </h3>
</p>

<p>
  <%= f.text_field :photo %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>

</div>
