<h1> <%= @city.name %>, <%= @city.country %> </h1>
<time> Updated at <%= @city.updated_at %> </time>

<article>

<p>
  <img class="city_photo" src="<%= @city.photo %>">
</p>

<p>
  <button type="button">
      <%= link_to "Edit City", edit_city_path(@city) %>
    </button>
</p>

<h2>Ratings</h2>

<% @ratings.each do |rating| %>

<p>
  
  View review by <%= link_to "#{rating.user.email}", city_rating_path(@city, rating) %>
</p>

<% end %>

</article>

<p>
  <button type="button">
    <%= link_to "Add New", new_city_rating_path(@city) %>
  </button>
</p>
