<h1> <%= @city.name %>, <%= @city.country %> </h1>
<time> Updated at <%= @city.updated_at %> </time>

<article>

<img class="city_photo" src="<%= @city.photo %>">

<h2>Ratings</h2>

<% @ratings.each do |rating| %>

<p><%= link_to "#{rating.overall_rating}", city_rating_path(@city, rating) %><p>

<% end %>
</article>
