<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Droid+Serif|Roboto" rel="stylesheet">
  </head>

  <body>


    <nav>
      <div class="logo_position">
        <a href="/"><%= image_tag(("my_logo.png"), :class => "logo") %>
        </a>
      </div>

      <div class="navbar_right">

        <% if !current_user %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Sign in", new_user_session_path %>
        <% else %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <%= current_user.email %>

        <% end %>

        </div>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

    </nav>

    <%= yield %>

    <footer>
      Created by Eric Green!
    </footer>

  </body>
</html>
